/* ============================================================================
   @COMPONENTS -> BOX
   ========================================================================= */


/**
 * Box component adds simple cosmetics to a block level element.
 */

.c-box,
%c-box {
   padding: to-rem($spacing-base);
   background-color: $color-porcelain;
   border: 1px solid $color-geyser;
   border-radius: $border-radius;
}


/**
 * Modifier: alternate.
 */

.c-box--alt,
%c-box--alt {
  background-color: $color-white;
  border-color: $color-porcelain;
  box-shadow: 0 2px 2px -2px rgba($color-black, 0.13);
}