/* ============================================================================
   @COMPONENTS -> NAVIGATION
   ========================================================================= */


/**
 * Basic boxes used to separate sections.
 */

.c-box {
   @include to-rem(padding, $spacing-base);
   @include to-rem(border-radius, $border-radius);
   border: 1px solid #dbe5e7;
   background-color: #e8edef;
   margin-bottom: to-rem($spacing-half);
}

.c-box--basic {
   @include to-rem(box-shadow, (0 2 2 -2 rgba(0, 0, 0, 0.13)));
   background-color: #fff;
   border-color: #e8eaeb;
}