/* ============================================================================
   @COMPONENTS -> BOX
   ========================================================================= */


/**
 * Box component typically used to section content.
 */

.c-box,
%c-box {
   padding: to-rem($spacing-base);
   border-radius: to-rem($border-radius);
   border: 1px solid $color-geyser;
   background-color: $color-porcelain;
}


/**
 * Modifer: alternate.
 */

.c-box--alt,
%c-box--alt {
   @include to-rem(box-shadow, (0 2 2 -2 rgba(0, 0, 0, 0.13)));
   background-color: $color-white;
   border-color: $color-porcelain;
}