/* ============================================================================
   @COMPONENTS -> BUTTON ADD
   ========================================================================= */


 /**
  * Button that indicates content can be added.
  */


.c-button-add {
  @extend %o-button;
  @extend %c-box;
  display: block;
  width: 100%;
  text-align: left;
  font-size: $font-size-heading-3;
  font-weight: $font-weight-extra-light;
  color: $color-shuttle-grey;


  /**
   * Extend `.c-icon` in Components -> `.c-add-button`.
   */

  .c-icon {
    fill: currentColor;
  }
}