/* ============================================================================
   @COMPONENTS -> EMPLOYMENT LIST
   ========================================================================= */

 /**
  * Employment list component adds cosmetics to employment list and specific employment details data.
  */

.c-employment-list > li {
  border-bottom: 1px solid $color-geyser;
  padding-bottom: to-rem($spacing-base);
  margin-bottom: to-rem($spacing-base);

  &:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

/**
 * Employer details.
 */

.c-employment-list__employer-details {
  margin-bottom: to-rem($spacing-base);
}


/**
 * Employment title.
 */

.c-employment-list__title {
  margin-bottom: to-rem($spacing-half);
}


/**
 * Employer.
 */

.c-employment-list__employer-details__employer {
  display: block;
}


/**
 * Duration of employment.
 */

.c-employment-list__employer-details__duration {
  font-style: italic;
}