/* ============================================================================
   @COMPONENTS -> ICON
   ========================================================================= */


/**
 * Generic icon component.
 */

.c-icon {
  display: inline-block;
  height: to-rem(16);
  width: to-rem(16);
}


/**
 * Icons.
 */

.c-icon--pencil {
  fill: $color-geyser;
}