/* ============================================================================
   @COMPONENTS -> MAIN CONTENT
   ========================================================================= */


/**
 * The main content area.
 */


.c-main-content {
  background-color: $color-off-white;
  padding-left: to-rem($spacing-half);
  padding-right: to-rem($spacing-base);

  @include respond-to(palm) {
    background-color: transparent;
    margin-top: to-rem(-60);
  }
}