/* ============================================================================
   @COMPONENTS -> NAVIGATION
   ========================================================================= */


/**
 * Section Navigation.
 */


.c-nav {
  font-size: to-rem(14);
  font-weight: 300;
}


/**
 * Top Level.
 */

.c-nav__primary-item{
  border-bottom: 1px solid $color-oxford-blue;
}

/**
 * Links.
 */

.c-nav__primary-item__link {
  display: block;
  color: $color-bermuda-grey;
  padding: to-rem($spacing-half) 0;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.is-active {
    color: $color-white;
    text-decoration: none;
  }


  /**
   * Extend `.c-icon` in Components -> `.c-nav`.
   */

  .c-icon {
    fill: currentColor;
  }
}


/**
 * Control the open and close state of primary nav items.
 *
 * This is specifically needed for `details` element.
 *
 * N.B. a polyfill is needed for cross browser compatibility with the `open`
 * attribute.
 */

.c-nav__primary-item-with-children {


  /**
   * Extend `.c-icon` in Components -> `.c-nav`.
   */

  .c-icon--minus {
    display: none;
  }

  &[open] {
    .c-icon--minus {display: inline-block;}

    .c-icon--plus {display:none;}
  }
}


/**
 * Second Level.
 */

.c-nav__secondary-item {margin-bottom: to-rem($spacing-half);}


/**
 * Modifier: disabled
 */

.c-nav__secondary-item--disabled {
  color: $color-limed-spruce;
  font-style: italic;
  text-transform: capitalize;
}


/**
 * Links.
 */

.c-nav__secondary-item__link {
  display: block;
  text-transform: capitalize;
  color: $color-bermuda-grey;

  &:hover,
  &:active,
  &.is-active {
    color: $color-white;
    text-decoration: none;
  }
}