/* ============================================================================
   @COMPONENTS -> PROFILE CARD
   ========================================================================= */


/**
 * Round Avatar.
 */

.c-profile-card {
  background: pink;
}

.c-profile-card__title {
  text-shadow: 2px 2px 0 rgba($color-black, 0.3);
  font-size: to-rem(50);
  font-weight: $font-weight-extra-light;
  line-height: 1.2;
  color: $color-white;

  margin-bottom: 0;
}