/* ============================================================================
   @COMPONENTS -> SITE FOOTER
   ========================================================================= */


/**
 * The site footer.
 */


.c-site-footer {
  padding: to-rem($spacing-base);
  padding-left: to-rem($gutter);
  padding-right: to-rem($gutter);
  color: $color-bermuda-grey;

  @include respond-to($palm-small) {
    padding-left: to-rem($gutter-large);
    padding-right: to-rem($gutter-large);
  }

  /**
   * When the layout becomes 2 columns position the footer in the bottom left
   * corner, the positioning is relative to the `html` element.
   */

  @include respond-to(lap-large) {
    position: absolute;
    bottom: $spacing-base * 1px;
    left: 0;
    width: $fixed-left-side-width;
    padding-top: 0;
    padding-bottom: 0;
  }
}


/**
 * Heading.
 */

.c-site-footer__heading {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: to-rem($spacing-quarter);
}
