/* ============================================================================
   @COMPONENTS -> BANNER
   ========================================================================= */


/**
 * The banner image for the main content area.
 */


.c-banner {
  background: url('../images/banner-profile.jpg') no-repeat 0 0;
  background-size: cover;
  min-height: to-rem(260);
  padding: to-rem($spacing-base);
}