/* ============================================================================
   @COMPONENTS -> ICON
   ========================================================================= */


/**
 * Generic icon component.
 */

.c-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}


/**
 * Modifier: icon pencil.
 */

.c-icon--pencil {
  fill: $color-geyser;
}