/* ============================================================================
   @COMPONENTS -> SITE HEADER
   ========================================================================= */


/**
 * The site header.
 */


.c-site-header {
  background-color: $color-white;


}


/**
 * Logo.
 */

.c-site-header__logo {
  background-color: $color-shark;
  padding-left: to-rem($gutter);
  padding-right: to-rem($gutter);

  @include respond-to($palm-small) {
    padding-left: to-rem($gutter-large);
    padding-right: to-rem($gutter-large);
  }
}


/**
 * Logo link.
 */

.c-site-header__logo__link {
  display: inline-block;
  // This needs to equal the height of the nav part of the header
  min-height: to-rem(48);
  padding-top: to-rem(9.5);
}


/**
 * Nav.
 */

.c-site-header__nav {
  padding-left: to-rem($gutter);
  padding-right: to-rem($gutter);

  @include respond-to($palm-small) {
    padding-left: to-rem($gutter-large);
    padding-right: to-rem($gutter-large);
  }
}


/**
 * Nav links.
 */

.c-site-header__nav__links {
  display: inline-block;
  padding-top: to-rem($spacing-half);
  padding-bottom: to-rem($spacing-half);
  font-weight: 400;
  text-transform: uppercase;

  &,
  &:hover,
  &:focus {
    color: $color-bermuda-grey;
  }
}


/**
 * Used for hiding text within the palm viewport range.
 */

.c-site-header__nav__links__hide-at-palm {
  display: none;

  @include respond-to(palm) {
    display: inline;
  }
}