/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */

/**
 * Extending base headings provided by Scally.
 */

h1 {
   font-weight: 200;
   line-height: 1.2;
   color: $color-shuttle-grey;
}

h2, .h2 {
   font-weight: 300;
   line-height: 1.4;
   color: $color-shuttle-grey;
}

.h2-alt {
  color: $color-brand;
}

h3, .h3 {
  font-weight: 600;
  line-height: 1.4;
  color: $color-shuttle-grey;
}

.h3-alt {
  color: $color-brand;
}

h4, .h4 {
  font-weight: 300;
  line-height: 1.5;
  color: $color-shuttle-grey;
}

h5, .h5 {
  font-weight: 600;
  line-height: 1.4;
}