/* ============================================================================
   @COMPONENTS -> BANNER
   ========================================================================= */


/**
 * The banner image for the main content area.
 */


.c-banner {
  background: url('https://expert360.com/images/companyProducts/home/hero_home.jpg?34ae2a2e') no-repeat 0 0;
  background-size: cover;
  min-height: to-rem(260);
}