/* ============================================================================
   @COMPONENTS -> SITE FOOTER
   ========================================================================= */


/**
 * The site footer
 */


.c-site-footer {
  padding-left: to-rem($spacing-base);
  padding-right: to-rem($spacing-base);

  @include respond-to(lap-large) {
    position: absolute;
    bottom: $spacing-base * 1px;
    left: 0;
    width: $fixed-left-side-width;
  }
}

