@charset "UTF-8";


/* ============================================================================
   @MASTER STYLESHEET
   ========================================================================= */


/* Your settings
   ========================================================================= */

/**
 * Your project-specific settings.
 *
 * N.B. define first so they can be used throughout your styles.
 */

// Colours
$color-off-white:         #eff2f3;

$color-navy-blue-dark:    #1b2127;

$color-navy-blue-light:   #21282e;

$color-bermuda-grey:      #72899e;

$color-limed-spruce:      #3e4a56;

$color-oxford-blue:       #2c3944;

$color-geyser:            #dbe5e7;

$color-porcelain:         #e8edef;

$color-shuttle-grey:      #5c6f7f;




// Fixed left side width
$fixed-left-side-width:   260px;




/* Scally framework
   ========================================================================= */

/**
 * Contents:
 *
 * CORE
 * LAYOUT
 * OBJECTS
 * COMPONENTS
 * UTILITIES
 */


/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings

$font-size:             15;
$font-family-base:      "Open Sans", sans-serif;
$font-size-heading-1:   64;
$font-size-heading-2:   24;
$font-size-heading-3:   20;
$font-size-heading-4:   17;
$font-size-heading-5:   15;
@import "../../node_modules/scally/core/settings/typography";

@import "../../node_modules/scally/core/settings/spacing";

@import "../../node_modules/scally/core/settings/retina-resolution";

@import "../../node_modules/scally/core/settings/breakpoints";

@import "../../node_modules/scally/core/settings/widths";

$color-brand:  #f16439;
$color-text-base: #21282e;
@import "../../node_modules/scally/core/settings/colours";

@import "../../node_modules/scally/core/settings/positioning";

@import "../../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../../node_modules/scally/core/functions/math-helpers";

@import "../../node_modules/scally/core/functions/string-replace";

@import "../../node_modules/scally/core/functions/strip-unit";

@import "../../node_modules/scally/core/functions/tint-shade";

// Mixins
@import "../../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../../node_modules/scally/core/mixins/font-size";

@import "../../node_modules/scally/core/mixins/gradients";

@import "../../node_modules/scally/core/mixins/media-queries";

@import "../../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../../node_modules/scally/core/mixins/retina-bg-image";

@import "../../node_modules/scally/core/mixins/target-browsers";

@import "../../node_modules/scally/core/mixins/target-headings";

@import "../../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../../node_modules/scally/core/normalize";

// Reset
@import "../../node_modules/scally/core/reset";

// Base

$html-element-background-color:  $color-off-white;
@import "../../node_modules/scally/core/base/root";

@import "../../node_modules/scally/core/base/abbreviation";

@import "../../node_modules/scally/core/base/forms";

$apply-details-marker: true;
@import "../../node_modules/scally/core/base/details";

@import "../../node_modules/scally/core/base/headings";

@import "../../node_modules/scally/core/base/horizontal-rule";

@import "../../node_modules/scally/core/base/links";

@import "../../node_modules/scally/core/base/media";

@import "../../node_modules/scally/core/base/paragraphs";

@import "../../node_modules/scally/core/base/print";

@import "../../node_modules/scally/core/base/viewport";

// Placeholders
@import "../../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-width: 100%;
$l-container-minimum-width: 220;
$l-container-maximum-width: 1200;
@import "../../node_modules/scally/layout/l-container";

// Grid
@import "../../node_modules/scally/layout/l-grid";

// Side by side
@import "../../node_modules/scally/layout/l-side-by-side";

@import "../../node_modules/scally/layout/l-side-by-side-alt";


/**
 * OBJECTS.
 */

@import "../../node_modules/scally/objects/o-button";


/**
 * COMPONENTS.
 */


/**
 * UTILITIES.
 */

@import "../../node_modules/scally/utilities/u-alignments";

@import "../../node_modules/scally/utilities/u-clear-fix";

@import "../../node_modules/scally/utilities/u-hide";

@import "../../node_modules/scally/utilities/u-spacing";

@import "../../node_modules/scally/utilities/u-text";

@import "../../node_modules/scally/utilities/u-widths";




/* Expert360 Styles
   ========================================================================= */

/**
 * CORE.
 */

// Base
@import "core/base/root";

@import "core/base/headings";

@import "core/base/links";


/**
 * LAYOUT.
 */

 @import "layout/l-grid-master";


/**
 * COMPONENTS.
 */

@import "components/c-site-header";

@import "components/c-site-footer";

@import "components/c-aside";

@import "components/c-main-content";

@import "components/c-banner";

@import "components/c-icon";

@import "components/c-navigation";

@import "components/c-avatar";

@import "components/c-profile-card";

@import "components/c-box";

@import "components/c-button-add";

@import "components/c-employment-list";

@import "components/c-styleguide";