/* ============================================================================
   @CORE -> BASE -> ROOT
   ========================================================================= */


/**
 * The root element: `html`.
 */


html {
  font-weight: $font-weight-normal;
  @include respond-to(lap-large) {
    background-color: $color-porcelain-2;
    // Needed so the footer is positioned relative to the `html` element
    // rather than the viewport
    position: relative;


    /**
     * Used to give the illusion that the left column is the height of the
     * content.
     */

    &:after {
      content: "";
      background-color: $color-shark-2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: $fixed-left-side-width;
      z-index: -1;
    }
  }
}